# CyanogenMod Performance Profiles

on property:sys.perf.profile=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1183000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq "1183000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "1183000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq "1183000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/online "0"
    write /sys/devices/system/cpu/cpu5/online "0"
    write /sys/devices/system/cpu/cpu6/online "0"
    write /sys/devices/system/cpu/cpu7/online "0"


# Balanced
on property:sys.perf.profile=1
    write /sys/devices/system/cpu/cpu4/online "1"
    write /sys/devices/system/cpu/cpu5/online "1"
    write /sys/devices/system/cpu/cpu6/online "1"
    write /sys/devices/system/cpu/cpu7/online "1"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1650000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq "1650000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "1650000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq "1650000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "1650000"
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq "1650000"
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq "1650000"
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq "1650000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor "interactive"

# Performance
on property:sys.perf.profile=2
    write /sys/devices/system/cpu/cpu4/online "1"
    write /sys/devices/system/cpu/cpu5/online "1"
    write /sys/devices/system/cpu/cpu6/online "1"
    write /sys/devices/system/cpu/cpu7/online "1"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1950000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq "1950000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "1950000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq "1950000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq "1950000"
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_max_freq "1950000"
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_max_freq "1950000"
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq "1950000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu5/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu7/cpufreq/scaling_min_freq "606000"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "ondemand"

on property:sys.boot_completed=1
# Switch to balanced mode after boot for better UX
    setprop sys.perf.profile 1
